.menu-screen
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    color: white;
    background-color: #232222;
}

.bot-selector
{
    padding: 1em;
}